.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(picture.jpg) no-repeat center top fixed;
  background-size: cover;
  height: 300px;
}
.date {
  margin: 5px;
  font-size: 120%;
}
.total-sum {
  margin: 5px;
  font-size: 250%;
}
.income {
  background: green;
}
.expenses {
  background: red;
}
.inline {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  margin: 5px;
  width: 250px;
  height: 30px;
}
